.chat {
    min-height: 100vh;
    background: linear-gradient(to right, #8e0e00, #1f1c18);
    display: grid;
    place-items: center;
}

.chat-container {
    width: 95%;
    height: 75vh;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}